.contacto-info-container {
    width: 100%;
    color: var(--white);
}

.contacto-info-container > h3 {
    margin: 12px 0;
    font-family: var(--Gotham-Black-Font);
    font-size: 1.4rem;
}

.contacto-info-container > p {
    margin: 12px 0;
    font-family: var(--Gotham-Thin-Font);
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: justify;
}

.contacto-info {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: 40px 40px auto;
    grid-template-columns: 1fr 1fr;
    margin: 28px 0px;
}

.contacto-info-item {
    display: flex;
    align-items: center;
    height: 15px;
}

.contacto-info-item > span {
    font-size: 1.4rem;
}

.contact-icon {
    width: 15px;
    height: 15px;
}

.contacto-info-item > span:nth-child(2) {
    margin: 0 4px;
    font-family: var(--GothamBook-Font);
}

.contacto-info-item > span:nth-child(3) {
    font-family: var(--Gotham-Black-Font);
}

.icons-container {
    align-self: center;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icon-container {
    margin: 0px 4px;
}

.social-media-icon-container:first-child {
    margin-left: 0px;
}

.social-media-icon-container:last-child {
    margin-right: 0px;
}

.qr-container {
    grid-row: 1 / 4 ;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qr-container > p {
    margin-bottom: 16px;
    font-family: var(--GothamBook-Font);
    font-size: 1.2rem;
    text-align: center;
}

.QR {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    padding: 10px;
    width: 116px;
    height: 116px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

@media (min-width: 800px) {
    .contacto-info-container {
        margin: 0 auto;
        width: 50%;
    }

    .contacto-info-container > h3 {
        font-size: 2.4rem;
    }
    
    .contacto-info-container > p {
        margin: 28px 0;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .contacto-info-item {
        height: 20px;
    }

    .contacto-info-item > span {
        font-size: 1.8rem;
    }

    .contact-icon {
        width: 20px;
        height: 20px;
    }

    .contacto-info-item > span:nth-child(2) {
        margin: 0 12px;
        font-family: var(--GothamBook-Font);
    }

    .qr-container > p {
        font-size: 1.8rem;
    }
}