.AboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 60px;
}

.AboutUs-title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: -98px;
    height: 98px;
    pointer-events: none;
}

.AboutUs-title-container > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    height: 28px;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--Gotham-Black-Font);
    font-size: 1.4rem;
}

.AboutUs > p {
    max-width: 660px;
    font-family: var(--GothamBook-Font);
    font-size: 1.2rem;
    text-align: center;
}

@media (min-width: 800px) {
    .AboutUs {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .AboutUs-title-container {
        top: -140px;
        height: 140px;
    }

    .AboutUs-title-container > h2 {
        padding: 0px 40px;
        height: 60px;
        font-size: 3.6rem;
    }

    .AboutUs > p {
        font-size: 2rem;
    }
}