.Portrait {
    position: relative;
    height: 220px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.portrait-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    display: grid;
    grid-template-columns: minmax(300px, 540px);
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    padding: 40px 50px 60px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secundary-opacity-2);
}

.img-description {
    align-self: end;
    color: var(--white);
    font-family: var(--Gotham-Black-Font);
    font-size: 1.8rem;
    text-align: center;
}

.img-button {
    justify-self: center;
    align-self: start;
}

@media (min-width: 800px) {
    .Portrait {
        height: 400px;
    }

    .img-overlay {
        row-gap: 40px;
    }
    

    .img-description {
        font-size: 3.6rem;
    }
}