@import url('./vars.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center{
    justify-self: center;
}

.margin-top-4{
    margin-top: 4px;
}