.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--black);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    color: var(--white);
    font-family: var(--Gotham-Thin-Font);
    font-size: 1.2rem;
}